//--------------------------------------------------
// month variables
//--------------------------------------------------
$arrowWidthSmall: rem-calc(14);
$arrowWidthLarge: rem-calc(17);

$arrowPositionSmall: calc(-1px - #{$arrowWidthSmall});
$arrowPositionLarge: calc(-1px - #{$arrowWidthLarge});

$monthTopPaddingSmall: calc((#{$circleSmall} / 2) - 11px);
$monthSidePaddingSmall: calc(#{$circleSmall} + 6px);

$monthSidePaddingMedium: calc(#{$circleLarge} + 6px);

$monthTopPaddingLarge: calc((#{$circleLarge} / 2) - 13px);
$monthSidePaddingLarge: calc((#{$circleLarge} / 2) + 14px);

//--------------------------------------------------
// reusable styles
//--------------------------------------------------
%circle {
  @extend .text-3;
  background-color: $secondary;
  border-radius: 100%;
  text-align: center;
  text-transform: uppercase;
  
  display: block;
  position: absolute;
}

%circleSmall {
  @extend %circle;
  line-height: $circleSmall;
  width: $circleSmall; height: $circleSmall;
}

%circleLarge {
  @include breakpoint($small){
    line-height: $circleLarge;
    width: $circleLarge; height: $circleLarge;
  }
}

%endCircleSmall {
  @extend %circle;
  width: $endCircleSmall; height: $endCircleSmall;
}

%endCircleLarge {
  @include breakpoint($small){
    width: $endCircleLarge; height: $endCircleLarge;
  }
}

%arrow {
  border-top: rem-calc(11) solid transparent;
  border-bottom: rem-calc(11) solid transparent; 
  border-right: $arrowWidthSmall solid $primary; 
  content: '';
  width: 0; height: 0;

  position: absolute;
  top: $monthTopPaddingSmall;
  left: $monthSidePaddingSmall;
  z-index: 1;

  @include breakpoint($small){
    border-top-width: rem-calc(13);
    border-right-width: $arrowWidthLarge;
    
    left: $monthSidePaddingMedium;
  }

  @include breakpoint($medium){
    top: $monthTopPaddingLarge;
    left: $monthSidePaddingLarge;
  }
}

%month-padding {
  padding-top: $monthTopPaddingSmall;
  padding-left: $monthSidePaddingSmall;

  position: relative;

  @include breakpoint($small){ 
    margin-bottom: rem-calc(24);
    padding-left: $monthSidePaddingMedium;
  }

  @include breakpoint($medium){ 
    padding-top: $monthTopPaddingLarge;
    padding-left: $monthSidePaddingLarge;
    width: 50%;
  }
}

//--------------------------------------------------
// months
//--------------------------------------------------
.timeline {
  &__months {
    position:relative;
    
    &:before {
      background-color: $secondary;
      content: '';
      opacity: 0.5;
      width: rem-calc(3);

      position: absolute;
      top: 0;
      bottom: -$endCircleSmall;
      left: calc((#{$circleSmall} / 2) - 2px);

      @include breakpoint($small){ 
        bottom: -$endCircleLarge;
        left: calc((#{$circleLarge} / 2) - 2px);
      }

      @include breakpoint($medium){
        left: calc(50% - 1px);
      }
    }

    &:after {
      @extend %endCircleSmall;
      content: '';

      bottom: -$endCircleSmall;
      left: calc((#{$circleSmall} - #{$endCircleSmall})/ 2);
      
      @extend %endCircleLarge;

      @include breakpoint($small){
        bottom: -$endCircleLarge;
        left: calc((#{$circleLarge} - #{$endCircleLarge})/ 2);
      }

      @include breakpoint($medium){
        left: calc(50% - (#{$endCircleLarge}/ 2)); 
      }
    }

    .timeline__year--past & {
      &:before,
      &:after { background-color: $grey; }
    } 
  }

//--------------------------------------------------
// month
//--------------------------------------------------
    &__month {
      @extend %month-padding;
      margin-bottom: rem-calc(14);

      @include breakpoint($small){ margin-bottom: rem-calc(24); }

      @include breakpoint($medium){ 
        margin-bottom: rem-calc(32);
        align-self: flex-end;
      }

      &:nth-child(even){ 
        @include breakpoint($medium){ 
          padding-right: $monthSidePaddingLarge;
          padding-left: 0;

          align-self: flex-start;
        }
      }

//--------------------------------------------------
// arrows
//--------------------------------------------------
      &:nth-child(even):before {
        @include breakpoint($medium){
          border-right: none;
          border-left: $arrowWidthLarge solid $primary;
          
          right: $monthSidePaddingLarge;
          left: auto; // must be auto to work in IE
        }
      }

      &:before {
        @extend %arrow;
      }

      &--past {
        &:nth-child(even):before,
        &:before { 
          border-right-color: $grey;
          border-left-color: $grey;
        }
      }

//--------------------------------------------------
// month title
//--------------------------------------------------
      &-title {
        @extend %circleSmall;
        
        top: 0;
        left: 0;
        
        @extend %circleLarge;

        @include breakpoint($medium){
          left: calc(-0.5 * #{$circleLarge});
        }

        .timeline__month:nth-child(even) & {
          @include breakpoint($medium){
            left: auto; // must be auto to work in IE
            right: calc(-0.5 * #{$circleLarge});
          }            
        }

        .timeline__month--past & { background-color: $grey; }
      }
    }
}