//--------------------------------------------------
// message
//--------------------------------------------------
.timeline {
  &__message-month {
    @include breakpoint($medium) {
      justify-content: flex-end;
    }
  }

    &__message-wrapper {
      @extend %month-padding;
      flex: 1;
      
      @include breakpoint-down($small) { padding-top: 0; }
      @include breakpoint($medium){ flex: none; }
    }

      &__message {
        @extend %events-margin;
        @extend %event-box;

        @extend %arrowOutline;

        .timeline__year--past & { border-color: $grey; }

        &:before {
          @include breakpoint-down($small) { top: 0; }

          .timeline__year--past & { border-right-color: $grey; }
        }
      }
}