//--------------------------------------------------
// base variables
//--------------------------------------------------
$bodyPaddingSmall: $topbarHeightSmall + $controlBarHeightSmall; 
$bodyPaddingLarge: $topbarHeightLarge + $controlBarHeightLarge;

//--------------------------------------------------
// html elements
//--------------------------------------------------
* { 
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body-font;
  margin: 0;
  padding-top: $bodyPaddingSmall;

  @include breakpoint($small) { padding-top: $bodyPaddingLarge; }
}

h1 {
  @extend .text-2;
  margin: rem-calc(0 0 16 0);

  @include breakpoint($small) { margin-bottom: rem-calc(22); }
}

h2 {
  font-size: rem-calc(22);
}

h3 {
  @extend .text-4;
  margin-top: 0;
}

h4 {
  @extend .text-4;
  margin-bottom: rem-calc(8);
}

p {
  margin-top: 0;
}

a { color: $secondary; }

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width { 
  @include breakpoint($medium){ width: $site-width; }
}

.container {
  @extend .site-width;
  margin: 0 auto;
  padding: rem-calc(0 $gutter-small);

  @include breakpoint($medium){ padding: rem-calc(0 $gutter-medium); }
}
