//--------------------------------------------------
// helpers
//--------------------------------------------------
// - fouc
// - font
// - lists
// - positioning
//
//--------------------------------------------------
// fouc (flash of unstyled content)
//--------------------------------------------------
[v-cloak] { display: none; }

//--------------------------------------------------
// font
//--------------------------------------------------
.bold { font-weight: bold; }
.italic { font-style: italic; }

// match styleguide in zeplin
.text-1 { 
  color: $primary;
  font-size: rem-calc(45); 
  font-weight: bold;
  line-height: 1.1;

  @include breakpoint($small) { font-size: rem-calc(70); }
  @include breakpoint($medium) { font-size: rem-calc(90); }
}

.text-2 { 
  font-size: rem-calc(24); 
  font-weight: bold;

  @include breakpoint($small) { font-size: rem-calc(45); }
}

.text-3 { 
  color: white;
  font-size: rem-calc(16);
  font-weight: bold;
  line-height: 0.8;

  @include breakpoint($small) { font-size: rem-calc(22); }
  @include breakpoint($medium) { font-size: rem-calc(25); }
}

.text-4 { 
  font-size: rem-calc(16); 
  font-weight: bold;

  @include breakpoint($small) { font-size: rem-calc(19); }
  @include breakpoint($medium) { font-size: rem-calc(22); }
}

.text-5 { 
  font-size: rem-calc(20); 
  font-weight: 300;
}

.text-7 { 
  color: $grey;
  font-size: rem-calc(14); 
  font-weight: bold;
  
  @include breakpoint($small) { font-size: rem-calc(13); }
  @include breakpoint($medium) { font-size: rem-calc(15); }
}

.text-8 { 
  color: white;
  font-size: rem-calc(15); 
  font-weight: 300;
}

//--------------------------------------------------
// lists
//--------------------------------------------------
.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul-inline li { display: inline-block; }

//--------------------------------------------------
// positioning
//--------------------------------------------------
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
