//--------------------------------------------------
// helpers
//--------------------------------------------------
// - colours
// - font
// - lists
// - positioning
//
//--------------------------------------------------
// colours
//--------------------------------------------------

//--------------------------------------------------
// font
//--------------------------------------------------
.bold { font-weight: bold; }
.italic { font-style: italic; }

//--------------------------------------------------
// positioning
//--------------------------------------------------
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }