//--------------------------------------------------
// media queries
//--------------------------------------------------
@mixin breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint + 1) {
    @content;
  } 
}

@mixin breakpoint-down($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  } 
}

//--------------------------------------------------
// helper classes
//--------------------------------------------------
.breakpoint-small-up {
  display: none;
  @include breakpoint($small) { display: block; }
}

.breakpoint-small-down {
  display: block;
  @include breakpoint($small) { display: none; }
}