//--------------------------------------------------
// variables
//--------------------------------------------------
// - colours
// - fonts
// - dimensions
// - breakpoins
// - padding
//
//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;

$grey-light: #f4f4f4;
$grey: #7f7f7f;
$grey-dark: #343434;

$blue: #4d6b89;

$cerulean: #00a0d1;

$green: #b4c92b;

$facebook: #446db0;
$twitter: #08a0e9;
$linkedin: #0077b5;

$primary: $blue;
$secondary: $cerulean;

$accent: $green;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$font-roboto: 'Roboto', sans-serif;

$body-font: $font-roboto;
$body-font-color: $black;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(960);

$topbarHeightSmall: rem-calc(66);
$topbarHeightLarge: rem-calc(86);

$controlBarHeightSmall: rem-calc(54);
$controlBarHeightLarge: rem-calc(82);

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
$small: rem-calc(720);
$medium: $site-width;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(11); 
$gutter-medium: rem-calc(16);
