//--------------------------------------------------
// variables
//--------------------------------------------------
// - colours
// - fonts
// - dimensions
// - breakpoins
// - padding
// - buttons
//
//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;

$grey: #7f7f7f;
$grey-light: #f4f4f4;

$blue: #4d6b89;

$cerulean: #00a0d1;

$green: #b4c92b;

$primary: $blue;
$secondary: $cerulean;

$accent: $green;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$font-roboto: 'Roboto', sans-serif;

$body-font: $font-roboto;
$body-font-color: $black;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(960);
$site-width-large: $site-width * 1.5;

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
$small: rem-calc(720);
$medium: $site-width;
$large: $site-width-large;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(16); 
$gutter-medium: rem-calc(20);

//--------------------------------------------------
// buttons
//--------------------------------------------------
// $radius-global: rem-calc(7);