//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;

$grey: #7f7f7f;
$grey-light: #f4f4f4;

$primary: $black;
$secondary: $grey;

//--------------------------------------------------
// fonts
//--------------------------------------------------

$body-font: 'Arial';
$body-font-color: $black;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(960);
// $site-width-medium: $site-width * .80;
// $site-width-small: $site-width * .60;

//--------------------------------------------------
// buttons
//--------------------------------------------------
// $radius-global: rem-calc(7);