//--------------------------------------------------
// back to top
//--------------------------------------------------
.back-to-top {
  background-color: $accent;
  border: 0;
  border-radius: rem-calc(100);
  cursor: pointer;
  width: rem-calc(70); height: rem-calc(70);

  position: fixed;
  right: rem-calc(20);
  bottom: rem-calc(20);
  z-index: 1;
}