//--------------------------------------------------
// modal wrapper
//--------------------------------------------------
.modal-wrapper {
  background-color: rgba($grey-light, 0.6);

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  &--active {
    display: flex;
  }

  @include breakpoint($small) {
    align-items: center;
  }
}

//--------------------------------------------------
// modal
//--------------------------------------------------
.modal {
  background-color: white;
  padding: rem-calc(12);
  width: 100%;

  @include breakpoint($small) {
    padding: rem-calc(40);
    max-width: $site-width;
  }

  h4 { margin-top: rem-calc(18); }

  &__title-box {
    border: solid rem-calc(1) $grey;
    margin-bottom: rem-calc(20);
    padding: rem-calc(18 45);
    position: relative;

    @include breakpoint($small) {
      margin-bottom: rem-calc(30);
      padding: rem-calc(50 30);
    }
  }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
    }
}