//--------------------------------------------------
// modal wrapper
//--------------------------------------------------
.modal-wrapper {
  background-color: rgba($grey-light, 0.6);

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  &--active {
    display: flex;
  }

  @include breakpoint($small) {
    align-items: center;
  }
}

//--------------------------------------------------
// modal
//--------------------------------------------------
.modal {
  background-color: white;
  padding: rem-calc(0);
  width: 100%;

  @include breakpoint($small) {
    padding: rem-calc(40);
    max-width: $site-width;
  }

  &__title-box {
    border: solid rem-calc(1) $grey;

    position: relative;
  }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
    }
}