//--------------------------------------------------
// modal variables
//--------------------------------------------------
$titlePaddingSmall: rem-calc(18);
$titlePaddingLarge: rem-calc(30);

//--------------------------------------------------
// modal wrapper
//--------------------------------------------------
.modal-wrapper {
  background-color: rgba($grey-light, 0.6);
  overflow: scroll;

  @include breakpoint($small) {
    align-items: center;
  }
}

//--------------------------------------------------
// modal
//--------------------------------------------------
.modal {
  background-color: white;
  box-shadow: $grey 0 0 10px 0;
  padding: rem-calc(12);
  width: 100%;

  @include breakpoint($small) {
    padding: rem-calc(40);
    width: 90%;
    max-width: $site-width;
    
    right: 50%;
    left: auto;
    
    transform: translateX(50%);
  }
  
  h3 { margin-bottom: 0; }

  h4 { margin-top: rem-calc(22); }

  &__title-box {
    border: solid rem-calc(1) $grey;
    margin-bottom: rem-calc(20);
    padding: rem-calc(45) $titlePaddingSmall;
    position: relative;

    @include breakpoint($small) {
      margin-bottom: rem-calc(30);
      padding: rem-calc(44) $titlePaddingLarge;
    }
  }

    &__category {
      @extend .text-7;
      margin-bottom: rem-calc(4);
      text-transform: uppercase;
    }

    &__close {
      position: absolute;
      top: $titlePaddingSmall;
      right: $titlePaddingSmall;

      @include breakpoint($small) {
        top: $titlePaddingLarge;
        right: $titlePaddingLarge;
      }
    }

  &__info-box {
    @include breakpoint($small) { display: flex; }
  }

    &__icon--calendar { 
      margin: rem-calc(0 10 12 0);

      @include breakpoint($small) { margin: rem-calc(0 12 0 0); }
    }

    &__icon--pin { 
      margin-right: rem-calc(10);

      @include breakpoint($small) { margin: rem-calc(0 8 0 20); }
    }
}