//--------------------------------------------------
// modal variables
//--------------------------------------------------
$titlePaddingSmall: rem-calc(18);
$titlePaddingLarge: rem-calc(30);

//--------------------------------------------------
// modal wrapper
//--------------------------------------------------
.modal-wrapper {
  background-color: rgba($black, 0.8);
  overflow: scroll;

  @include breakpoint($small) {
    align-items: center;
  }
}

//--------------------------------------------------
// modal
//--------------------------------------------------
.modal {
  background-color: white;
  box-shadow: $grey 0 0 10px 0;
  padding: rem-calc(12);
  width: 100%;

  @include breakpoint($small) {
    padding: rem-calc(40);
    width: 90%;
    max-width: $site-width;

    right: 50%;
    left: auto;

    transform: translateX(50%);
  }

  h3 {
    margin-bottom: 0;

    @include breakpoint($small) { width: 90%; }
    @include breakpoint($medium) { width: 75%; }
  }

  h4 { margin-top: rem-calc(22); }

  &__title-box {
    border: solid rem-calc(1) $grey;
    margin-bottom: rem-calc(20);
    padding: rem-calc(45) $titlePaddingSmall;
    position: relative;

    @include breakpoint($small) {
      margin-bottom: rem-calc(30);
      padding: rem-calc(44) $titlePaddingLarge;
    }
  }

    &__close {
      position: absolute;
      top: $titlePaddingSmall;
      right: $titlePaddingSmall;

      @include breakpoint($small) {
        top: $titlePaddingLarge;
        right: $titlePaddingLarge;
      }
    }

  &__content {
    @include breakpoint($small) { width: 90%; }
    @include breakpoint($medium) { width: 75%; }
  }

    &__info-box {
      @include breakpoint($small) { display: flex; }
    }

      &__icon--calendar {
        margin: rem-calc(0 10 12 0);

        @include breakpoint($small) { margin: rem-calc(0 12 0 0); }
      }

    &__icon--pin {
      margin-right: rem-calc(10);

      @include breakpoint($small) { margin: rem-calc(0 8 0 20); }
    }

//--------------------------------------------------
// modal - hero
//--------------------------------------------------
  &--hero {
    background: image-url('hero-modal.jpg') center;
    background-size: cover;
    color: white;
    padding: $gutter-small;
    margin-top: $gutter-small;
    width:96%;
    max-width: $site-width;

    right: 50%;
    left: auto;

    transform: translateX(50%);

    @include breakpoint($small) {
      padding: $gutter-medium;
      width: 90%;
    }

    @include breakpoint($medium) {
      padding: rem-calc(36);
      width: 85%;
    }

    &__content {
      background-color: rgba($grey-dark, 0.45);
      border: solid rem-calc(2) white;
      padding: rem-calc(42) calc(#{$gutter-small} * 2) rem-calc(32) calc(#{$gutter-small} * 2);

      @include breakpoint($small) { padding: rem-calc(82) calc(#{$gutter-medium} * 2) rem-calc(72) calc(#{$gutter-medium} * 2);  }
      @include breakpoint($medium) { padding: rem-calc(132) 20% rem-calc(122 80); }
    }

      &__logo {
        margin-bottom: rem-calc(18);

        @include breakpoint($small){ margin-bottom: rem-calc(32); }

        &-unep-wcmc {
          width: rem-calc(82); height: rem-calc(27);

          @include breakpoint($small){ width: rem-calc(152); height: rem-calc(50); }
        }

        &-unep-wcmc-bottom {
          width: rem-calc(75); height: rem-calc(20);

          @include breakpoint($small){ width: rem-calc(145); height: rem-calc(43); }
        }

        &-cbd {
          margin-left: rem-calc(14);
          width: rem-calc(100); height: rem-calc(38);

          @include breakpoint($small){
            margin-left: rem-calc(42);
            width: rem-calc(148); height: rem-calc(58);
          }
        }

        &-proteus {
          margin-right: rem-calc(14);
          width: rem-calc(75); height: rem-calc(20);

          @include breakpoint($small){
            margin-right: rem-calc(35);
            width: rem-calc(141); height: rem-calc(51);
          }
        }
      }

      &__intro {
        font-size: rem-calc(15);
        line-height: 1.7;
        margin: 0 0 rem-calc(28) 0;

        @include breakpoint($small){
          font-size: rem-calc(18);
          line-height: 1.6;
          margin-bottom: rem-calc(44);
        }
      }

      &__powered-by {
        position: relative;
        top: rem-calc(25);
        font-size: rem-calc(15);
        line-height: 1.7;

        @include breakpoint($small){
          position: relative;
          top: rem-calc(120);
          font-size: rem-calc(18);
          line-height: 1.6;
        }
      }

      &__close {
        position: absolute;
        top: calc(#{$gutter-small} * 3);
        right: calc(#{$gutter-small} * 3);

        @include breakpoint($small) {
          top: calc(#{$gutter-medium} * 3);
        right: calc(#{$gutter-medium} * 3);
        }

        @include breakpoint($medium) {
          top: rem-calc(64);
          right: rem-calc(64);
        }
      }
  }

//--------------------------------------------------
// modal - social
//--------------------------------------------------
  &--social {
    background-color: transparent;
    box-shadow: none;
    color: white;
    font-size: rem-calc(20);
    font-weight: bold;
    padding-top: rem-calc(40);

    &__close {
      background-color: $grey;
      width: rem-calc(45); height: rem-calc(45);

      position: absolute;
      top: rem-calc(14);
      right: rem-calc(14);

      &:hover { background-color: lighten($grey, 10%); }
    }

    .icon--social {
      @extend .flex;
      @extend .flex-v-center;
      margin-bottom: rem-calc(16);
      text-decoration: none;
      width: rem-calc(310); height: rem-calc(57);

      &:after {
        color: white;
        margin-left: rem-calc(12);
      }

      &:hover { opacity: 0.8; }
    }

    .icon--social-facebook {
      @extend .icon--social-facebook-white;
      background-color: $facebook;

      &:after { content: 'Facebook'; }
    }

    .icon--social-email {
      @extend .icon--social-email-white;
      background-color: $grey;

      &:after { content: 'Email'; }
    }

    .icon--social-twitter {
      @extend .icon--social-twitter-white;
      background-color: $twitter;

      &:after { content: 'Twitter'; }
    }

    .icon--social-linkedin {
      @extend .icon--social-linkedin-white;
      background-color: $linkedin;

      &:after { content: 'LinkedIn'; }
    }
  }
}
