//--------------------------------------------------
// modal variables
//--------------------------------------------------
$titlePaddingSmall: rem-calc(18);
$titlePaddingLarge: rem-calc(30);

//--------------------------------------------------
// modal wrapper
//--------------------------------------------------
.modal-wrapper {
  background-color: rgba($grey, 0.6);
  overflow: scroll;

  @include breakpoint($small) {
    align-items: center;
  }
}

//--------------------------------------------------
// modal
//--------------------------------------------------
.modal {
  background-color: white;
  box-shadow: $grey 0 0 10px 0;
  padding: rem-calc(12);
  width: 100%;

  @include breakpoint($small) {
    padding: rem-calc(40);
    width: 90%;
    max-width: $site-width;
    
    right: 50%;
    left: auto;
    
    transform: translateX(50%);
  }
  
  h3 { 
    margin-bottom: 0;

    @include breakpoint($small) { width: 90%; }
    @include breakpoint($medium) { width: 75%; }
  }

  h4 { margin-top: rem-calc(22); }

  &__title-box {
    border: solid rem-calc(1) $grey;
    margin-bottom: rem-calc(20);
    padding: rem-calc(45) $titlePaddingSmall;
    position: relative;

    @include breakpoint($small) {
      margin-bottom: rem-calc(30);
      padding: rem-calc(44) $titlePaddingLarge;
    }
  }
  
    &__close {
      position: absolute;
      top: $titlePaddingSmall;
      right: $titlePaddingSmall;

      @include breakpoint($small) {
        top: $titlePaddingLarge;
        right: $titlePaddingLarge;
      }
    }
  
  &__content {
    @include breakpoint($small) { width: 90%; }
    @include breakpoint($medium) { width: 75%; }
  }

    &__info-box {
      @include breakpoint($small) { display: flex; }
    }

      &__icon--calendar { 
        margin: rem-calc(0 10 12 0);

        @include breakpoint($small) { margin: rem-calc(0 12 0 0); }
      }

    &__icon--pin { 
      margin-right: rem-calc(10);

      @include breakpoint($small) { margin: rem-calc(0 8 0 20); }
    }

  &--hero {
    background: image-url('hero-modal.jpg') center;
    background-size: cover;
    color: white;
    padding: $gutter-small;
    margin-top: $gutter-small;
    width:96%;
    max-width: $site-width;

    right: 50%;
    left: auto;

    transform: translateX(50%);

    @include breakpoint($small) { 
      padding: $gutter-medium;
      width: 90%; 
    }

    @include breakpoint($medium) { 
      padding: rem-calc(36);
      width: 85%;
    }

    &__content {
      background-color: rgba($grey-dark, 0.45);
      border: solid rem-calc(2) white;
      padding: rem-calc(42) calc(#{$gutter-small} * 2) rem-calc(32) calc(#{$gutter-small} * 2); 

      @include breakpoint($small) { padding: rem-calc(82) calc(#{$gutter-medium} * 2) rem-calc(72) calc(#{$gutter-medium} * 2);  }
      @include breakpoint($medium) { padding: rem-calc(132) 20% rem-calc(122 80); }
    }

      &__logo {
        @extend .topbar__logo;
        margin-bottom: rem-calc(18);

        @include breakpoint($small) { margin-bottom: rem-calc(32); }
      }

      &__intro {
        font-size: rem-calc(15);
        line-height: 1.7;
        margin: 0 0 rem-calc(28) 0;

        @include breakpoint($small){
          font-size: rem-calc(18); 
          line-height: 1.6;
          margin-bottom: rem-calc(44);
        }
      }

      &__close {
        position: absolute;
        top: calc(#{$gutter-small} * 3);
        right: calc(#{$gutter-small} * 3);

        @include breakpoint($small) {
          top: calc(#{$gutter-medium} * 3);
        right: calc(#{$gutter-medium} * 3);
        }

        @include breakpoint($medium) {
          top: rem-calc(64);
          right: rem-calc(64);
        }
      }
  }
}