//--------------------------------------------------
// popup
//--------------------------------------------------
.popup {
  @include breakpoint($small){ width: rem-calc(32); height: rem-calc(32); }

//--------------------------------------------------
// trigger
//--------------------------------------------------
  &__trigger {
    // put styles for trigger button here but keep icon styles in the icon file

  }

//--------------------------------------------------
// box
//--------------------------------------------------
  &__box {
    //put styles for popup box here
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -250px;

    &__arrow_up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-bottom: 10px solid #555;
    }
  }
}
