//--------------------------------------------------
// reveal variables
//--------------------------------------------------
$revealLargePadding: rem-calc(36);

//--------------------------------------------------
// reveal vue component
//
// app/javascripts/components/reveal/RevealTrigger.vue
// app/javascripts/components/reveal/RevealTarget.vue
//--------------------------------------------------
.reveal {
  &--target {
    background-color: $primary;
    color: white;
    padding: rem-calc(20) $gutter-small;
    width: 100%;

    @include breakpoint($small){ 
      padding: $revealLargePadding;
      width: auto;
    }

    &__button {
      float: right;
      top: rem-calc(20);
      right: $gutter-small;

      @include breakpoint($small){ 
        top: $revealLargePadding;
        right: $revealLargePadding; 
      }
    }
  }
}
