//--------------------------------------------------
// variables used in year and month
//--------------------------------------------------
$circleSmall: rem-calc(51);
$circleLarge: rem-calc(68);

$endCircleSmall: rem-calc(19);
$endCircleLarge: rem-calc(54);

//--------------------------------------------------
// timeline
//--------------------------------------------------
.timeline {
  padding-bottom: rem-calc(40);

  @include breakpoint($small) { padding-bottom: rem-calc(60); };

//--------------------------------------------------
// year
//--------------------------------------------------
  &__year {
    padding: rem-calc(10) 0 $endCircleSmall 0;

    position: relative;
    
    @include breakpoint($small){ padding: rem-calc(30) 0 $endCircleLarge 0; }
    @include breakpoint($medium){ padding: rem-calc(30) 0 $endCircleLarge 0; }

    &-title {
      @extend .text-1;
      margin-bottom: rem-calc(10);
      text-align: center;

      display: block;

      @include breakpoint($small){ margin-bottom: rem-calc(24); }

      &:after {
        background: transparent url('icons/chevron-double-down.svg') center no-repeat;
        background-size: contain;
        content: '';
        margin: 0 auto;
        width: rem-calc(13); height: rem-calc(14);

        display: block;

        @include breakpoint($small){
          width: rem-calc(19); height: rem-calc(20);
        }

        @include breakpoint($medium){ display: none; }
      }
    }
  }
}

//--------------------------------------------------
// month
//--------------------------------------------------
@import './timeline/timeline-months.scss';

//--------------------------------------------------
// event
//--------------------------------------------------
@import './timeline/timeline-events.scss';
