//--------------------------------------------------
// timeline
//--------------------------------------------------
.timeline {
  padding: rem-calc(30 0 40 0);

  @include breakpoint($small) { padding: rem-calc(50 0 60 0); };

//--------------------------------------------------
// year
//--------------------------------------------------
  &__year {

    @include breakpoint($small){ margin-top: rem-calc(30); }

    &-title {
      @extend .text-1;
      margin-bottom: rem-calc(10);
      text-align: center;

      display: block;

      @include breakpoint($small){ margin-bottom: rem-calc(24); }

      &:after {
        background: transparent url('icons/chevron-double-down.svg') center no-repeat;
        background-size: contain;
        content: '';
        margin: 0 auto;
        width: rem-calc(13); height: rem-calc(14);

        display: block;

        @include breakpoint($small){
          width: rem-calc(19); height: rem-calc(20);
        }

        @include breakpoint($medium){ display: none; }
      }
    }
  }
}

//--------------------------------------------------
// month
//--------------------------------------------------
@import './timeline/timeline-months.scss';

//--------------------------------------------------
// event
//--------------------------------------------------
@import './timeline/timeline-events.scss';
