//--------------------------------------------------
// buttons
//--------------------------------------------------
.button {
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: rem-calc(20);
  font-weight: bold;
  line-height: 1;
  padding: rem-calc(8 18);

  @include breakpoint($small){
    font-size: rem-calc(22);
    padding: rem-calc(12 28);
  }

  &--secondary { 
    background-color: $secondary; 
    color: white;
    padding: rem-calc(8 46 8 16);

    @include breakpoint($small){ padding: rem-calc(15 76 15 46); }
  }

  &--plain {
    background-color: transparent;
    font-weight: 300;
    padding: rem-calc(0 10);
    text-transform: uppercase;
  }

  &--close {
    background: url('icons/cross.svg') center no-repeat;
    background-size: contain;
    width: rem-calc(22); height: rem-calc(22);

    @include breakpoint($small) { width: rem-calc(30); height: rem-calc(30); }
  }

  &--apply {
    background-color: $accent;
    text-transform: uppercase;
  }

  &--filter {
    position: relative;

    &:after {
      // background-image: url('images/icons/filter.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      width: rem-calc(27);

      display: block;
      position: absolute;
      top: 0;
      right: rem-calc(46);
      bottom: 0;
    }
  }
}