//--------------------------------------------------
// buttons
//--------------------------------------------------
.button {
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: rem-calc(20);
  font-weight: bold;
  line-height: 1;
  padding: rem-calc(8 18);

  @include breakpoint($small){
    font-size: rem-calc(22);
    padding: rem-calc(12 28);
  }

  &--secondary { 
    background-color: $secondary; 
    color: white;
    padding: rem-calc(8 16);

    @include breakpoint($small){ padding: rem-calc(15 46); }

    &:hover { background-color: lighten($secondary, 5%); }
  }

  &--plain {
    background-color: transparent;
    font-weight: 300;
    padding: rem-calc(0 10);
    text-transform: uppercase;
  }

  &--round { border-radius: 100%; }

  &--close {
    background: image-url('icons/cross.svg') center no-repeat;
    background-size: contain;
    padding: 0;
    width: rem-calc(18); height: rem-calc(18);

    @include breakpoint($small) { width: rem-calc(24); height: rem-calc(24); }

    &:hover { opacity: .8; }

    &-black { 
      background-image: image-url('icons/cross-black.svg'); 

      &:hover { opacity: .7; }
    }

    &-round {
      @extend .button--round;
      background-color: rgba($grey-light, 0.9);
      background-position: center;
      background-repeat: no-repeat;
      background-size: rem-calc(18) rem-calc(18);
      padding: 0;
      width: rem-calc(32); height: rem-calc(32);

      @include breakpoint($small) { width: rem-calc(50); height: rem-calc(50); }

      &:hover { 
        background-color: $grey-light; 
        opacity: 1;
      }
    }
  }

  &--apply {
    background-color: $accent;
    text-transform: uppercase;

    &:hover { background-color: lighten($accent, 5%); }
  }

  &--filter {
    padding-right: rem-calc(36);
    position: relative;

    @include breakpoint($small) { padding-right: rem-calc(76); }

    &:after {
      background-image: image-url('icons/filter.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      width: rem-calc(18);

      display: block;
      position: absolute;
      top: 0;
      right: rem-calc(14);
      bottom: 0;

      @include breakpoint($small) {
        width: rem-calc(27);

        right: rem-calc(46); 
      }
    }
  }
}