//--------------------------------------------------
// control bar
//--------------------------------------------------
.control-bar {
  background-color: white; 
  box-shadow: lighten($grey, 30%) 0 2px 4px 0px;
  padding: rem-calc(9) $gutter-small;
  height: $controlBarHeightSmall;

  @include breakpoint($small){ 
    padding: rem-calc(15) $gutter-medium; 
    height: $controlBarHeightLarge;
  }
  
  @include breakpoint($medium){ padding: rem-calc(15); }

  &:before { // hack to center and right align child components
    @include breakpoint($medium){
      content: '';
      flex: 1;
      visibility: hidden;
    }
  }
}
