//--------------------------------------------------
// header
//--------------------------------------------------
.header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 2;
}

// .header {
//   background-color: $primary;
//   color: white;
//   padding: rem-calc(18 0);

//   @include breakpoint($small){ padding: rem-calc(36 0); }

//   @include breakpoint($medium){ padding: rem-calc(56 0); }

//   &__intro {
//     font-size: rem-calc(14);
//     line-height: 1.8;
//     margin: 0;

//     @include breakpoint($small){
//       font-size: rem-calc(16); 
//       line-height: 1.6;
//       width: 65%;
//     }
//   }
// }