//--------------------------------------------------
// icons
//--------------------------------------------------
.icon {
  background: transparent center no-repeat;
  background-size: contain;
  display: inline-block;

  width: rem-calc(23); height: rem-calc(23);

  @include breakpoint($small){ width: 31px; height: 31px; } // rem-calc wasn't rendering the sizes well in IE

  &--calendar {
    background-image: image-url('icons/calendar');
  }

  &--pin {
    background-image: image-url('icons/pin');
    height: rem-calc(26);

    @include breakpoint($small){ height: 38px; } // rem-calc wasn't rendering the sizes well in IE
  }

  &--back-to-top {
    background: image-url('icons/chevron-up.svg') center no-repeat;
    background-size: contain;

    width: rem-calc(29); height: rem-calc(17);
  }


  &--contact {
    background-image: image-url('icons/contact.svg');
    background-size: contain;
    cursor: pointer;
    width: rem-calc(36); height: rem-calc(36);

    display: inline-block;

    &:hover { opacity: .75; }
}

//--------------------------------------------------
// social
//--------------------------------------------------
  &--social {
    &:before {
      background: transparent center bottom no-repeat;
      background-size: contain;
      content: '';
      margin-left: rem-calc(12);
      width: rem-calc(24); height: rem-calc(24);

      display: inline-block;

      @include breakpoint($medium){ width: rem-calc(32); height: rem-calc(32); }

      &:hover { opacity: .75; }
    }

    &-facebook:before { background-image: image-url('icons/facebook-black.svg'); }
    &-email:before { background-image: image-url('icons/email-black.svg'); }
    &-twitter:before { background-image: image-url('icons/twitter-black.svg'); }
    &-linkedin:before { background-image: image-url('icons/linkedin-black.svg'); }

    &-facebook-white:before { background-image: image-url('icons/facebook.svg'); }
    &-email-white:before { background-image: image-url('icons/email.svg'); }
    &-twitter-white:before { background-image: image-url('icons/twitter.svg'); }
    &-linkedin-white:before { background-image: image-url('icons/linkedin.svg'); }

    &-modal-trigger {
      background-image: image-url('icons/share.svg');
      background-size: contain;
      cursor: pointer;
      width: rem-calc(36); height: rem-calc(36);

      display: inline-block;

      &:hover { opacity: .75; }
    }
  }
}
