//--------------------------------------------------
// topbar
//--------------------------------------------------
.topbar {
  background-color: $grey-light;
  padding: rem-calc(10) $gutter-small;

  @include breakpoint($small){ padding: rem-calc(22) $gutter-medium; }
  @include breakpoint($medium){ padding: rem-calc(44 16); }

  &__logo {
    width: rem-calc(137);

    @include breakpoint($small){ width: rem-calc(152); }
  }
}