//--------------------------------------------------
// topbar
//--------------------------------------------------
.topbar {
  background-color: $grey-light;
  padding: 0 $gutter-small;
  width: 100%; height: $topbarHeightSmall;

  z-index: 3;

  @include breakpoint($small){ 
    padding: 0 $gutter-medium;
    height: $topbarHeightLarge;
  }

  &__logo {
    width: rem-calc(137);

    @include breakpoint($small){ width: rem-calc(152); }
  }
}