//--------------------------------------------------
// topbar
//--------------------------------------------------
.topbar {
  background-color: $grey-light;
  padding: 0 $gutter-small;
  width: 100%; height: $topbarHeightSmall;

  z-index: 3;

  @include breakpoint($medium){
    padding: 0 $gutter-medium;
    height: $topbarHeightLarge;
  }

  &__logo {
    &-unep-wcmc {
      width: rem-calc(82); height: rem-calc(27);

      @include breakpoint($medium){ width: rem-calc(152); height: rem-calc(50); }
    }

    &-cbd {
      margin-left: rem-calc(14);
      width: rem-calc(100); height: rem-calc(38);

      @include breakpoint($medium){
        margin-left: rem-calc(42);
        width: rem-calc(148); height: rem-calc(58);
      }
    }
  }

  &__contact {
    // add some padding for mobile
    color: $black;
    text-decoration: none;

    @include breakpoint(medium){
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: rem-calc(30);
      padding-left: rem-calc(80);
    }

    // add hover state for link - maybe underline the text
  }
}
