<div class="control-bar flex flex-h-center flex-v-center">
  <div class="flex">
    <scroll-nav :nav-array="<%= @nav %>"></scroll-nav>
  </div>

  <div class="flex flex-h-end flex-1">
    <reveal-trigger>
      <button class="button button--secondary button--filter">Filters</button>
    </reveal-trigger>
  </div>
</div>