<header class="header">
  <div class="container site-width--large">
    <h1>The 2020 Biodiversity Strategic Planning Timeline</h1>

    <p class="header__intro">This interactive timeline provides information on the various events leading to the adoption of a new Strategic Plan for Biodiversity.  This new plan will be agreed at the Convention on Biological Diversity’s Conference of the Parties in 2020, guided by a large number of relevant meetings that inform and drive this process.</p>
  </div>
</header>