<div class="modal--hero__powered-by">
  <p>Developed through support from:</p>
  <%= image_tag 'logos/logo-proteus.svg', alt: 'Proteus logo', class: 'modal--hero__logo modal--hero__logo-proteus' %>
  <img class='modal--hero__logo modal--hero__logo-unep-wcmc-bottom' src='https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg'></img>
</div>
