<div class="topbar flex flex-v-center flex-h-between">
  <%= link_to 'http://www.unep-wcmc.org', title: 'The 2020 Biodiversity Strategic Planning Timeline', target: '_blank' do %>
    <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017.svg', alt: 'UN Environment World Conservation Monitoring Centre Logo', class: 'topbar__logo' %>
  <% end %>

  <div>
    <%= render 'global/social' %>
  </div>
</div>